:root {
  --primary: #ea4c89;
  --primary-100: #fdedf34a;
  /* --primary: #234e52;
  --primary-100: #e6fffa7a; */
}

html,
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Roboto, 'Oxygen-sans',
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  /* background: #fdedf34a; */
  background: var(--primary-100);
}

.font-crimson {
  font-family: 'Crimson Text', serif;
}
